@{
    // ViewData:
    var lang = (Lang)(ViewData[nameof(Lang)] ?? 0);
}

<a href="#" onclick="showHidePassword();">
    @(lang == Lang.TR ? "Şifre Göster / Gizle" : "Show / Hide Password")
</a>

<script>
    var passwordInputs = document.querySelectorAll('input[type="password"]');
    var showPassword = false;
    function showHidePassword() {
        showPassword = !showPassword;
        passwordInputs.forEach(function (passwordInput) {
            if (showPassword) {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        });
    }
</script>