@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h3>
        &copy; @DateTime.Now.Year | Developed by <a href="https://need4code.com/cagilalsac" target="_blank">Cagil Alsac</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/cagilalsac/EZcore" target="_blank"><i class="bi bi-github"></i> EZcore GitHub</a>
    </h3>
</div>
